EMBY_URL='http://your-emby-host:8096'
EMBY_USERNAME='your_username'
EMBY_PASSWORD='your_password'
EMBY_PLAY_SECONDS_DEFAULT='300'
EMBY_DEVICE_ID='linux-yamby-autoplay'
EMBY_CLIENT_NAME='Yamby'
EMBY_CLIENT_VERSION='1.0.0'
EMBY_VERIFY_SSL='true'
EMBY_TIMEOUT='30'
